[submodule "extern/godot-cpp"]
	path = extern/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "extern/cubism"]
	path = extern/cubism
	url = https://github.com/Live2D/CubismNativeFramework.git
